.fileContainer > .file {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: 3px 0px 3px 7px;
}

.fileContainer > .file:hover {
    background-color: #524d6c;
    color: white;
    border: none;
}

.file.selected {
    background-color: gray;
    color: white;
}